@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

form{
  background: linear-gradient(to left, #3a010169, #0000000c);
}

form>label{
  background-color: rgba(240, 248, 255, 0);
}
/* 
.form-control{
  width: 80%;
} */

.input::placeholder{
  font-size: larger;
  color: black;
}

.w-screen{
  background: url('https://img.goodfon.com/original/3000x1875/5/2e/medicine-lungs-anatomy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.label-text{
  color: white;
  font-size: larger;
}

.select option{
  color: black;
  font-size: large;
}

.select{
  font-size: larger;
}

option{
  /* background: rgb(95, 156, 160); */
}